@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '../src/styles/_variables.scss';

body {
  background: #efefef;
  color: #fff;
  overflow: hidden;
}

.wrapperWithBackground {
  background: url('/assets/background.webp') no-repeat fixed center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
